---
layout: twoColumn.hbs
title: <%= page.titleFor.homeMediaHomepage%>
pageClasses: images details standard wide
---
        <div class="wrap-container-top pc-display">
            <div class="wrap-title">
                <h1>Home Media<br/>Magazine Homepage</h1>
                <p>Design</p>
            </div>
            <ul class="nav-portfolio portfolio-page">
                <li class="portfolio-item prev"><a href="travel-series.html" target="_self" title="Previous Project" tabindex="3">Previous</a></li>
                <li class="portfolio-item next"><a href="ibs-enews.html" target="_self" title="Next Project" tabindex="3">Next</a></li>
                <li class="wrap-sub-nav">
                    <ul class="portfolio-pages">
                        <li class="page-item first"><a href="home-media-homepage.html" target="_self" title="Home Media Home Page" tabindex="4" class="link-disable">Home Page</a></li>
                        <li class="page-item"><a tabindex="4" title="Home Media Inside Page" target="_self" href="home-media-details.html">Article Page</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="wrap-comp">
            <img src="images/comps-full-size/home-media-home-page.jpg" alt="Home Media Magazine - Home Page" class="thumb" />
        </div>
        <div class="wrap-copy">
            <p>I designed this homepage. This is one of two designs presented.<br/><br/>This project posed several challenges. The existing site design was very cluttered. Being an information heavy site, this was a major concern. We began with simplifying the navigation and improving the overall hierarchy of information on the page.<br/><br/>Their group does a good deal of independant research, maintains 7 blogs and growing, and is active at various media events. This design was proposed, but typefaces were challenged and ultimately changed at the request of the publisher. The launch has been pending, due to various larger issues on the business side of things.</p>
        </div>