---
layout: oneColumn.hbs
pageClasses: images thumbs standard wide
title: <%= page.titleFor.homepage%>
usingMobilySlider: <%= page.specificsFor.homepage.usingMobilySlider%>
---
    <section class="wrap-content">
        <div class="slider">
            <div class="sliderContent">
                <section class="item"><h2>IECSC Site Build</h2>
                    <p class="my-role">
                        Template HTML, CSS, Rotator Creation, jQuery Upgrades
                    </p>
                    <a href="iecsc.html" title="International Esthetics, Cosmetics and Spa Conference"><img src="images/thumbs/iecsc-thumb.jpg" alt="International Esthetics, Cosmetics and Spa Conference" class="thumb" /></a>
                </section>
                <section class="item"><h2>American Salon Prototype</h2>
                    <p class="my-role">
                        Wireframe, HTML5, Adaptive CSS, Drupal 7 Templates
                    </p>
                    <a href="amsalon-adaptive.html" title="Prototype Adaptive Layout"><img src="images/thumbs/thumb-amsalon-wireframe.png" alt="Prototype Adaptive Layout" class="thumb" /></a>
                </section>
                <section class="item"><h2>Itex Show</h2>
                    <p class="my-role">
                        HTML, CSS
                    </p>
                    <a href="itex-homepage.html" title="Itex Show"><img src="images/thumbs/itex-thumb.jpg" alt="Itex Show" class="thumb" /></a>
                </section>
                <section class="item development"><h2>jQuery Scrollers</h2>
                    <p class="my-role">
                        jQuery, Javascript, HTML, CSS, UX/UI, Agile Method
                    </p>
                    <a href="scroller.html" title="jQuery Scrollers" class="cta-btn"><span class="cta-top">View</span><br/><span class="cta-bottom">Live Demo</span></a>
                </section>
                <section class="item"><h2>Response Expo</h2>
                    <p class="my-role">
                        HTML, CSS, Rotator Upgrades
                    </p>
                    <a href="response-expo.html" title="Response Expo"><img src="images/thumbs/response-thumb.jpg" alt="Response Expo" class="thumb" /></a>
                </section>
                <section class="item"><h2>Incentive Travel Shows</h2>
                    <p class="my-role">
                        Design Assist, Template HTML, CSS
                    </p>
                    <a href="travel-series.html" title="Global Travel Series"><img src="images/thumbs/thumb-ite-gmite.jpg" alt="Incentive Travel Exchange" class="thumb" /></a>
                </section>
                <section class="item"><h2>Home Media Magazine</h2>
                    <p class="my-role">
                        Design, HTML, CSS
                    </p>
                    <a href="home-media-homepage.html" title="Home Media Magazine" target="_blank" tabindex="3"><img src="images/thumbs/thumb-hmm-home.jpg" alt="Home Media Magazine" class="thumb" /></a>
                </section>
                <section class="item"><h2>IBS eNewsletter</h2>
                    <p class="my-role">
                        Design, HTML, CSS
                    </p>
                    <a href="ibs-enews.html" title="International Beauty Show eNewsletter" target="_self" tabindex="3"><img src="images/thumbs/thumb-ibs-news.jpg" alt="International Beauty Show eNewsletter" class="thumb" /></a>
                </section>
                <section class="item"><h2>PP &amp; E Site Design</h2>
                    <p class="my-role">
                        Design
                    </p>
                    <a href="portable-plants.html" title="Portable Plants and Equipment"><img src="images/thumbs/thumb-pp-and-e.jpg" alt="Portable Plants and Equipment" class="thumb" /></a>
                </section>
            </div>
        </div>
    </section>