---
layout: twoColumn.hbs
title: <%= page.titleFor.homeMediaDetails%>
pageClasses: images details standard wide
---
        <div class="wrap-container-top pc-display">
            <div class="wrap-title">
                <h1>Home Media<br/>Article Page</h1>
                <p>Design</p>
            </div>
            <ul class="nav-portfolio portfolio-page">
                <li class="portfolio-item prev"><a href="travel-series.html" target="_self" title="Previous Project" tabindex="3">Previous</a></li>
                <li class="portfolio-item next"><a href="ibs-enews.html" target="_self" title="Next Project" tabindex="3">Next</a></li>
                <li class="wrap-sub-nav">
                    <ul class="portfolio-pages">
                        <li class="page-item first"><a href="home-media-homepage.html" target="_self" title="Home Media Home Page" tabindex="4">Home Page</a></li>
                        <li class="page-item"><a tabindex="4" title="Home Media Inside Page" target="_self" href="home-media-details.html" class="link-disable">Article Page</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="wrap-comp">
            <img src="images/comps-full-size/home-media-details-page.jpg" alt="Home Media Magazine - Article Page" class="thumb" />
        </div>
        <div class="wrap-copy">
            <p>I designed this interior page. This is two of two designs presented.<br/><br/>The interior page posed the same challenges as the homepage. The nav was handled differently and included a subnav to reflect all of the blogs. The blogs nav item would contain a dropdown that would house all of the blogs as they grow. The sub nav would feature their top five to seven blogs.<br/><br/>The business team favored the skyscraper and box style ads. Here they requested skyscraper only. This eased the task of accomondating ad space. The business team took a balanced approach to ads and would ask to design around certain sizes, not necessarily accomodate all of them.</p>
        </div>