---
layout: twoColumn.hbs
title: <%= page.titleFor.homeMedia%>
pageClasses: images details standard wide
---
        <div class="wrap-container-top pc-display">
            <div class="wrap-title">
                <h1>Title</h1>
                <p>Copy Goes Here</p>
            </div>
            <ul class="nav-portfolio portfolio-page">
                <li class="portfolio-item prev"><a href="#" target="_self" title="#" tabindex="3">Previous</a></li>
                <li class="portfolio-item next"><a href="#" target="_self" title="#" tabindex="3">Next</a></li>
                <li class="wrap-sub-nav">
                    <ul class="portfolio-pages">
                        <li class="page-item first"><a href="#" target="_self" title="#" tabindex="4">Home</a></li>
                        <li class="page-item"><a tabindex="4" title="#" target="_self" href="#">Blog</a></li>
                        <li class="page-item"><a tabindex="4" title="#" target="_self" href="#">News</a></li>
                        <li class="page-item last"><a tabindex="4" title="#" target="_self" href="#">Contact</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="wrap-comp">
            <img src="images/home-media-comp.jpg" alt="#" class="thumb" />
        </div>
        <div class="wrap-copy">
            <h2>Home Media Magazine</h2>
            <p>Copy Goes Here</p>
        </div>
