---
layout: twoColumn.hbs
title: <%= page.titleFor.ibsEnews%>
pageClasses: images details standard wide
---
        <div class="wrap-container-top pc-display">
            <div class="wrap-title">
                <h1>International Beauty Show eNewsletter</h1>
                <p>Design, HTML, CSS<br/>Newsletter Construction</p>
            </div>
            <ul class="nav-portfolio portfolio-page">
                <li class="portfolio-item prev"><a href="home-media-homepage.html" target="_self" title="Previous Project" tabindex="3">Previous</a></li>
                <li class="portfolio-item next"><a href="portable-plants.html" target="_self" title="Next Project" tabindex="3">Next</a></li>
            </ul>
        </div>
        <div class="wrap-comp">
            <img src="images/comps-full-size/ibs-newsletter.jpg" alt="IBS eNewsletter" class="thumb" />
        </div>
        <div class="wrap-copy">
            <p>I designed this newsletter and handcoded the HTML and CSS for eNewsletter compliance with Outlook as our target email client.<br/><br/>This project was my first official eNewsletter to broadcast using Lyris, and then later Silverpop.<br/><br/>We kept the design and construction simple to minimize issues on sending and rendering in Outlook.<br/><br/>For eNewsletters, many HTML/CSS techniques common to web pages have to be abandoned. Table based construction and inline styles were used.<br/><br/>We focused on legibility, and used flat but nice colors. We kept a 70:30 ratio of text:graphics, keeping us well under the radar of spam filters.
            </p>
        </div>