---
layout: twoColumn.hbs
title: <%= page.titleFor.itexHomepage%>
pageClasses: images details standard wide
---
        <div class="wrap-container-top pc-display">
            <div class="wrap-title">
                <h1>Itex Show Homepage</h1>
                <p>HTML, CSS</p>
            </div>
            <ul class="nav-portfolio portfolio-page">
                <li class="portfolio-item prev"><a href="amsalon-adaptive.html" target="_self" title="Previous Project" tabindex="3">Previous</a></li>
                <li class="portfolio-item next"><a href="scroller.html" target="_self" title="Next Project" tabindex="3">Next</a></li>
                <li class="wrap-sub-nav">
                    <ul class="portfolio-pages">
                        <li class="page-item first"><a href="itex-homepage.html" target="_self" title="Itex Show Home Page" tabindex="4" class="link-disable">Home Page</a></li>
                        <li class="page-item"><a tabindex="4" title="Itex Show Interaction Boxes" target="_self" href="itex-interaction-details.html">Interactive Boxes</a></li>
                        <!--<li class="page-item"><a tabindex="4" title="Itex Show Chunky Footer" target="_self" href="itex-show-footer.html">Chunky Footer</a></li>-->
                    </ul>
                </li>
            </ul>
        </div>
        <div class="wrap-comp">
            <a href="http://www.itexshow.com/" title="Itex Show Homepage" tabindex="5" target="_blank"><img src="images/comps-full-size/itex-full-comp.jpg" alt="Itex Show Home Page" class="thumb" /></a>
        </div>
        <div class="wrap-copy">
            <p>I handcoded the HTML and the CSS for this site on top of our Drupal baseline.<br/><br/>This page features the interactive boxes and the chunky footer. The interactive boxes had posed some good usability issues to work with and some sound solutions had been created. The chunky footer was a nice addition, as it does house some relavant but tertiary content for this show.</p>
        </div>