---
layout: twoColumn.hbs
title: <%= page.titleFor.portablePlants%>
pageClasses: images details standard wide
---
        <div class="wrap-container-top pc-display">
            <div class="wrap-title">
                <h1>Portable<br/>Plants &amp; Equipment</h1>
                <p>Design</p>
            </div>
            <ul class="nav-portfolio portfolio-page">
                <li class="portfolio-item prev"><a href="ibs-enews.html" target="_self" title="Previous Project" tabindex="3">Previous</a></li>
                <li class="portfolio-item next"><a href="iecsc.html" target="_self" title="Next Project" tabindex="3">Next</a></li>
            </ul>
        </div>
        <div class="wrap-comp">
            <img src="images/comps-full-size/pp-and-e-homepage.jpg" alt="PP and E Homepage" class="thumb" />
        </div>
        <div class="wrap-copy">
            <p>I designed this homepage.<br/><br/>This site was being split from it's parent brand Pit &amp; Quarry, to a full site. With a good deal of information to present, we spent additional amounts of time in the wireframing/information architecture stage.<br/><br/>For the design, we used some imagery in the nav to help catch the eye and direct the user to their desired market segment. For the rest of the page, we focused on making the content legible. This sites core content included equipment, industry news, and details on the equipment.<br/><br/>This design was undergoing review from the business team, but the publication team was disbanded, sold, became North Coast Media. This site remains a subsite off of Pit &amp; Quarry.</p>
        </div>