---
layout: twoColumn.hbs
title: <%= page.titleFor.responseExpo%>
pageClasses: images details standard wide
---
        <div class="wrap-container-top pc-display">
            <div class="wrap-title">
                <h1>Response Expo Homepage</h1>
                <p>HTML, CSS <br/>Design Assist<br/>(Graphics Exporting)</p>
            </div>
            <ul class="nav-portfolio portfolio-page">
                <li class="portfolio-item prev"><a href="scroller.html" target="_self" title="Previous Project" tabindex="3">Previous</a></li>
                <li class="portfolio-item next"><a href="travel-series.html" target="_self" title="Next Project" tabindex="3">Next</a></li>
            </ul>
        </div>
        <div class="wrap-comp">
            <a href="http://www.responsemagazine.com/response-expo/home-page" target="_blank" title="Response Expo Homepage" tabindex="4"><img src="images/comps-full-size/response-expo.jpg" alt="Response Expo Homepage" class="thumb" /></a>
        </div>
        <div class="wrap-copy">
            <p>I handcoded the HTML and CSS for this site on on top of our Drupal baseline.<br/><br/>We used a transparent PNG for the background lines/dots graphic on the secondary nav so we could swap in different gradients for the tiling image. At times the business groups will reskin their existing site opposed to a full redesign depending on time and budget, so a flexible approach in terms of graphics production is always a good idea.</p>
        </div>