---
layout: twoColumn.hbs
title: <%= page.titleFor.travelSeries%>
pageClasses: images details standard wide
---
        <div class="wrap-container-top pc-display">
            <div class="wrap-title">
                <h1>Global Meeting Series</h1>
                <p>HTML Template Construction, CSS, Design (GMITE Header/Nav Region)</p>
            </div>
            <ul class="nav-portfolio portfolio-page">
                <li class="portfolio-item prev"><a href="response-expo.html" target="_self" title="Previous Project" tabindex="3">Previous</a></li>
                <li class="portfolio-item next"><a href="home-media-homepage.html" target="_self" title="Next Project" tabindex="3">Next</a></li>
            </ul>
        </div>
        <div class="wrap-comp">
            <a href="http://www.incentivetravelexchange.com/" title="Incentive Travel Exchange" tabindex="4" target="blank"><img src="images/comps-full-size/ite-gmite-home-page.jpg" alt="Global Incentive Travel Series - ITE" class="thumb" /></a>
        </div>
        <div class="wrap-copy">
            <p>I handcoded the HTML and CSS on top of our Drupal baseline.<br/><br/>This was my first HTML template project. We split the structure and branding to separate stylesheets to help expedite the launch. A quick search and replace and the branded styling is almost complete. We kept things as generic as possible so we could replicate with speed and accuracy. When the assets have been provided, a site using this template can be built within 3-5 hours.<br/><br/>We have since streamlined this approach further by maintaining documents of the HTML blocks required for this site. Two of the four Global brands have been launched using this template. Three others sites to follow this template are pending content, market research, and one has been canceled to ease competition with a sister brand.</p>
        </div>