<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" />
<meta charset="UTF-8" />
<script type="text/javascript">document.cookie='resolution='+Math.max(screen.width,screen.height)+'; path=/';</script>
<link href="lrp_favicon.ico" type="image/x-icon" rel="icon" />
<link href="lrp_favicon.ico" type="image/x-icon" rel="shortcut icon" />
<link rel="stylesheet" href="css/normalize.min.css" />
<link rel="stylesheet" href="css/main.css" />
<script src="scripts/respond.js"></script>
<script src="scripts/modernizr.custom.08120.js"></script>
<title>{{title}}</title>
