<section class="wrap-header">
	<header id="header">
		<div class="wrap-logo">
			<a href="home.html" target="_self" title="LRP Design Homepage" tabindex="1"><img src="images/lrp-logo.png" alt="Little Red Plane Design Logo" title="Home Page" /></a>
		</div>
		<nav id="nav">
			<ul class="nav-main">
				<li class="main-item"><a href="home.html" target="_self" title="Home Page" tabindex="2">Portfolio</a></li>
				<li class="main-item"><a href="about.html" target="_self" title="About Us" tabindex="2">About</a></li>
				<li class="main-item"><a href="contact.html" target="_self" title="Contact Us" tabindex="2">Contact</a></li>
			</ul>
		</nav>
	</header>
</section>