<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
  {{>head}}
</head>
<!--Body classes will be variables. Need to check on preferred style for assemble to be used in markup.-->
<body class="{{pageClasses}}">
{{>body}}
{{>sitewide-scripts}}
</body>
</html>